[pager]
    diff = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[alias]
    check-whitespace = "!cd -- ${GIT_PREFIX:-.}; git diff-tree --check $(git hash-object -t tree /dev/null) HEAD"

[commit]
    gpgsign = true

# Rewrite https requests as SSH requests for GitHub URLs.
[url "git@github.com:"]
    insteadOf = https://github.com/

# Use `main` as the default branch instead of `master`.
[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitexcludes

# Include any local configuration if it exists.
[include]
    path = ./.gitconfig-local
