[pager]
    diff = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less

[alias]
    check-whitespace = "!cd -- ${GIT_PREFIX:-.}; git diff-tree --check $(git hash-object -t tree /dev/null) HEAD"
    parent = "!cd -- ${GIT_PREFIX:-.}; git log --decorate=full --simplify-by-decoration --oneline --format='%D' | head -2 | tail -1 | rev | cut -f 1 -d ' ' | rev | sed -E 's_refs/heads/(.*)_\\1_g'"

[commit]
    gpgsign = true

# Notebook diffing
[filter "nbstrip_full"]
    clean = "jq --indent 1 \
        '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
        | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
        | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
        | .cells[].metadata = {} \
        '"
    smudge = cat
    required = true

# Rewrite https requests as SSH requests for GitHub URLs.
[url "git@github.com:"]
    insteadOf = https://github.com/

# Use `main` as the default branch instead of `master`.
[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitexcludes

# Include any local configuration if it exists.
[include]
    path = ./.gitconfig-local
[credential "https://github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
